*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
}
.container {
    max-width:1280px;
    display: flex;
    width: 80%;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    margin-top: 30px;
}
.content{
    width: 80%;
}
.logo {
    display: flex;
    font-size: 22px;
}
.logo1 {
    color: #fc6320;
}
.logo2 {
    object-fit: contain;
}
.menu > a {
    text-decoration: none;
    color:#0F0E0E99;
    font-size: 16px;
}  
.menu .home{
    color: #fc6320;
    border: 1px solid #FC632026;
    background-color:#FC63201A;
    padding: 8px 14px;
    border-radius: 8px;
}
.menu{
    display: flex;
    gap: 50px;
    align-items: center;
}
.social-media{
    display: flex;
    gap: 16px;
}
.content{
  position: relative;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
.content .text{
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  font-size: 18px;
  font-weight: 500;
}
.btn1{
  background-color: #fc6320;
  padding: 14px 28px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-right: 16px;
}
.text1{
  font-size: 56px;
  margin-bottom: 14px;
}
.text2{
  font-weight: 300;
  margin-bottom: 30px;
}
.btn2{
  background-color: #FFFFFF33;
  padding: 14px 28px;
  color: white;
  border-radius: 10px;
  border:1px solid #FFFFFF;
  font-size: 20px;
}
.images-logo{
  display: flex;
  margin-left: 321px;
  justify-content: space-between;
  margin-right:321px;
  margin-top: 80px;
}


